<h1>Sign Up</h1>
<%= form_for @user do |f|%>
    <div class="input-field">
        <%= f.label :username %>
        <%= f.text_field(:username) %>
    </div>

    <div class="input-field">
        <%= f.label :password %>
        <%= f.password_field(:password) %>
    </div>

    <p>
        <%= f.submit({:class => "btn waves-effect waves-light"}) %>
    </p>
<%end%>