<h1>Add Product</h1>
<%= form_for :product, url: products_path do |f| %>
    <% if @product.errors.any? %>
        <% @product.errors.full_messages.each do |msg| %>
            <div class="card-panel red accent-2"><%= msg %></div>
        <% end %>
    <% end %>

    <div class="row">
        <div class="col s12 m6">
            <div class="input-field">
                <%= f.label :name %>
                <%= f.text_field(:name) %>
            </div>
        </div>

        <div class="col s12 m6">
            <div class="input-field">
                <%= f.label :part_number %>
                <%= f.text_field(:part_number) %>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col s12">
            <div class="input-field">
                <%= f.label :description %>
                <%= f.text_area(:description, {:class => "materialize-textarea" }) %>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col s12 m4">
            <div class="input-field">
                <%= f.label :purchase_price %>
                <%= f.number_field(:purchase_price) %>
            </div>
        </div>
        <div class="col s12 m4">
            <div class="input-field">
                <%= f.label :sale_price %>
                <%= f.number_field(:sale_price) %>
            </div>
        </div>
        <div class="col s12 m4">
            <div class="input-field">
                <%= f.label :qty %>
                <%= f.number_field(:qty) %>
            </div>
        </div>
    </div>

    <p>
        <%= f.submit({:class => "btn btn-primary"}) %>
    </p>
<% end %>